.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-item {
  display: flex;
}

.stepper-top {
  display: flex;
  align-items: center;
}

.stepper-content {
  position: relative; /* Allows label to go behind number */
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #6658DE;
  position: relative;
  z-index: 2; /* Bring number above label */
}

.stepper-number.active {
  background-color: #6658DE;
  color: black;
}

.stepper-label {
  position: absolute;
  color: #6658DE;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.stepper-line {
  flex: 1;
  height: 2px;
  border-top: 2px dashed #6658DE;
  background: none;
  margin: 0; /* Remove margin to connect edge to edge */
  width: 200px;
}
