.stepper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 400px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #6658DE;
  position: relative;
  z-index: 2;
}

.stepper-number.active {
  background-color: #6658DE;
  color: white;
}

.stepper-label {
  margin-top: 6px;
  color: #6658DE;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.stepper-line {
  position: absolute;
  top: 18px; /* Number ka center point (36px / 2) */
  left: 50%;
  height: 2px;
  width: 100%;
  transform: translateX(0%);
  border-top: 2px dashed #6658DE;
  z-index: 1;
}
