.auth {
    background-image: url("../../assets/images/MomentsBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.auth-text{
    font-size: 36px;
}
.auth-sub-text{
    font-size: 21px;
}
