@use "_variables" as *;

body {
  font-family: $font;
}

.custom-title {
  font-size: $heading-text;
  font-weight: 700;
  span {
    color: $text-primary;
  }
}

.custom-content {
  font-size: $content-text;
  font-weight: 400;
}

// Landingpage ----- Hero Section
.hero-section {
  //background-image: url('../images/herobackgroung.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: $text-black;
}

.hero-content{
  font-size: 16px;
  color: $text-black;
  font-weight: 500;
}

.hero-select{
  margin: 35px 100px;
}
//HowItWork Section
.step-box {
  border: 1px solid #edeff1;
  transition: all 0.3s ease;
  cursor: pointer;

  .step-number {
     max-width: 40px;
    background-color: rgb(167, 157, 157);
    color: #ffffff;
    font-weight: "bold";
    transition: all 0.3s ease;
  }

  &:hover {
    border-color: $text-primary;
    .step-number {
      background-color: $text-primary;
      color: #fff;
    }
  }
}

//CompletePartySection
.party-cards{
   background-color:#F4F1F8;
    border: 1px solid #DFDBFF;
    border-radius: 20px;
    height: 200px;
    width: 416px;
   
    .party-heading{
      font-size: 20px;
      font-weight:700;
      color: #000000;
    }

   .party-content{
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3C;
   }
}
