@use "_variables" as *;

body {
  font-family: $font;
}

.custom-title {
  font-size: $heading-text;
  font-weight: 700;
  span {
    color: $text-primary;
  }
}

.custom-content {
  font-size: $content-text;
  font-weight: 400;
}

// Landingpage ----- Hero Section
.hero-section {
  //background-image: url('../images/herobackgroung.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: $text-black;
  font-size: 24px;
  font-weight: 700;
}

.hero-content{
  font-size: 16px;
  color: $text-black;
  font-weight: 500;
}

.hero-select{
  display: flex;
  align-items: center;
  justify-content: center;
}
//HowItWork Section
.step-box {
  border: 1px solid #FBFBFB;
  transition: all 0.3s ease;
  background-color:#FBFBFB;
  border-radius: 10px;
  cursor: pointer;

  .step-number {
     max-width: 40px;
    background-color: #929292;
    color: #ffffff;
    font-weight: "bold";
    position:static;
    transition: all 0.3s ease;
  }

   &:hover,
  &.active-step {
    border-color: $text-primary;

    .step-number {
      background-color: $text-primary;
      color: $text-white;
    }
  }
}

//CompletePartySection
.party-cards{
   background-color:#F4F1F8;
    border: 1px solid #DFDBFF;
    border-radius: 20px;
    height: 200px;
    width: 416px;
   
    .party-heading{
      font-size: 20px;
      font-weight:700;
      color: $text-black;
    }

   .party-content{
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3C;
   }
}

/*platform saction*/
.platform-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.platform-inner-section{
 display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(to right, #6658DE, #FF4D4D);
}

.platform-section-line{
  font-weight: 700;
  font-size: 48px;
  color: $text-white;
  text-align: end;
}

/*platform responsive*/

@media screen and (max-width:992px) {
  .platform-section-line{
    text-align: center !important;
    font-size: 30px !important;
  }
}

@media screen and (max-width:576px) {
  .platform-section-line{
    text-align: center !important;
    font-size: 26px !important;
  }
}