@use "_variables" as *;

body {
  font-family: $font;
}

.custom-title {
  font-size: $heading-text;
  font-weight: 700;
  span {
    color: $text-primary;
  }
}

.custom-content {
  font-size: $content-text;
}

// Landingpage ----- Hero Section
.hero-section {
  //background-image: url('../images/herobackgroung.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: $text-black;
  font-size: 24px;
  font-weight: 700;
}

.hero-content {
  font-size: 16px;
  color: $text-black;
  font-weight: 500;
}

.hero-select {
  display: flex;
  align-items: center;
  justify-content: center;
}
//HowItWork Section
.step-box {
  border: 1px solid #fbfbfb;
  transition: all 0.3s ease;
  background-color: #fbfbfb;
  border-radius: 10px;
  cursor: pointer;

  .step-number {
    max-width: 40px;
    background-color: #929292;
    color: #ffffff;
    font-weight: "bold";
    position: static;
    transition: all 0.3s ease;
  }

  &:hover,
  &.active-step {
    border-color: $text-primary;

    .step-number {
      background-color: $text-primary;
      color: $text-white;
    }
  }
}

//CompletePartySection
.party-cards {
  background-color: #f4f1f8;
  border: 1px solid #dfdbff;
  border-radius: 20px;
  height: 200px;
  width: 416px;

  .party-heading {
    font-size: 20px;
    font-weight: 700;
    color: $text-black;
  }

  .party-content {
    font-size: 14px;
    font-weight: 400;
    color: #3c3c3c;
  }
}

/*platform saction*/
.platform-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.platform-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(to right, #6658de, #ff4d4d);
}

.platform-section-line {
  font-weight: 700;
  font-size: 48px;
  color: $text-white;
  text-align: end;
}

/*platform responsive*/

@media screen and (max-width: 992px) {
  .platform-section-line {
    text-align: center !important;
    font-size: 30px !important;
  }
}

@media screen and (max-width: 576px) {
  .platform-section-line {
    text-align: center !important;
    font-size: 26px !important;
  }
}

/*top offers*/
.top-offer-heading {
  font-size: 24px;
  font-weight: 700;
}

//Moments-Section
.moments {
  // background-image: url('/assets/images/MomentsBackground.png');
  .heading {
    font-size: 114px;
    background-image: linear-gradient(
      180deg,
      #a69fe5 22%,
      #6658de 55.44%,
      #050312 79.33%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: plus-lighter;
    mix-blend-mode: screen;
  }
}

//Testimonial-section
.trusted-host {
  img {
    border: 2px solid white;
    margin-left: -20px;
  }
  .trusted-user {
    font-size: 18px;
    .highlight {
      color: $primary;
    }
  }
}

.reviews {
  background-color: $primary;
  .testimonial-card {
    .review-text {
      font-size: 23px;
      color: #000000;
    }
    h6 {
      font-size: 14px;
    }
  }
}
