.price-cancel{
    color: #A9A9A9 !important;
    text-decoration: line-through;
}

.foodItems{
    background-color: #EAEAEA;
    border-radius: 8px;
    border: 1px solid #FFFEFE;

}
.circle{
    border-radius: 50%;
    background-color: #868686;
    width: 12px;
    height: 12px;
}
.note-title{
    color: #FF3737;
}