@use "_variables" as *;

body {
  font-family: $font;
}

.custom-content {
  font-size: $content-text;
}

.food-type-names{
   font-size: 15px;
   font-weight: 500;
   color: $text-primary;
}
.partyverse-score-badge{
  border-radius: 10px;
  color: $text-white;
  background-color: $primary;
  font-size: 20px;
}
.partyverse-score{
  font-size: 13px;
  color: $text-primary;
}
.place-name{
  font-weight: 500;
  color: $text-black;
  font-size: 14px;
}
.km{
  color: #898989;
}
.pure-veg-badge{
  background-color: #45D064;
  border-radius: 20px;
  font-size: 24px;
}
.venue-details-main-image{
  border-radius: 10px;
}
.venue-details-sub-image{
  border-radius: 10px;
}
.key-highlight-heading{
  font-size: 20px;
  font-weight: 400;
}
.highlight-icons{
  border-radius: 20px;
  background-color: #F8F8F8;
}
.highlight-icons-data{
  font-size: 16px;
}
.highlight-icons-subdata{
  font-size: 12px;
}
.amenities-heading{
  font-weight: 600;
  font-size: 24px;
}
.amenities-sub-heading{
  font-size: 14px;
  color: $text-primary;
  font-weight: 400;
}
.party-package-card{
  border: 1px solid;
  border-radius: 10px;
  border-color: $primary;
}
.amenities{
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
}
.party-videos{
  border-left: 1px solid #EDEDED;
}