.select-party{
  border: 1px solid #C6CFF7;
}
.select-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.select-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
