@use "../../assets/scss/variables" as *;

.select-party{
  border: 1px solid #C6CFF7;
}
.select-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.select-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tentative-number{
  left: 10%;
  top: 90%;
  border-radius: 4px;
}
