.venue-category-tiles {
  .categotry-tag {
    display: inline-block;
    background: linear-gradient(92.21deg, #FFE28E 2.18%, #FFF6DA 78.17%, #FFE28E 99.5%);
    font-size: 24px;
    font-weight: 500;
    color: black;
    border-radius: 9px;
    padding: 8px;
    line-height: 100%;
    letter-spacing: 0;
    font-style: regualar;
    vertical-align: middle;
  }
}
