.new{
    background-color: #DFDBFF;
    color: #6658DE;
}
.spicy{
    background-color: #FFD8D8;
    color: #FF3C3C;
}
.kids-special{
    background-color: #FFF6DD;
    color: #FDA01E;
}
.color-full-badge{
    border-radius: 6px;
    font-size: 8px;
}