.venue-card {
  transition: all 0.3s ease;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 1px 5px 9px 2px #00000008;

 
  .tag-badge {
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 12px;
      z-index: 10;
    text-transform: uppercase;

    &.luxe {
      background: linear-gradient(92.21deg, #FFE28E 2.18%, #FFF6DA 78.17%, #FFE28E 99.5%);
      font-size: 14px;
      font-weight: 500;
      color:#000000;
      border-radius: 9px;
    }

    &.new {
      background-color:#DDF9FF; 
      font-size: 14px;
      font-weight: 500;
      color: #000000;
      border-radius: 9px;
    }

    &.promoted {
      background-color:#D93A3A;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 700;
      border-radius: 8px;
    }
  }

  .discount-badge {
    background: linear-gradient(90deg, #6658DE 0%, rgba(55, 48, 120, 0) 100%);
    color: #FFFFFF;
    font-size: 16px;
  
  }

  .rating{
    background: #FFD251;
    color:#010101;
    font-size:14px;
  }
  .distance{
    font-size: 12px;
    color: #6658DE;
  }

  .venue-name{
    color: #000000;
    font-size: 16px;
  }
  .location{
    font-size: 10px;
  }
  .capacity{
    border: 1px solid;
    border-color: #6658DE;
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
  }
  .cuisine{
    font-size: 14px;
  }
}