@use "../../assets/scss/variables" as *;

.venue-card {
  transition: all 0.3s ease;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 1px 5px 9px 2px #00000008;

  .tag-badge {
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 12px;
    z-index: 1;
    text-transform: uppercase;

    &.luxe {
      background: linear-gradient(92.21deg, #FFE28E 2.18%, #FFF6DA 78.17%, #FFE28E 99.5%);
      font-size: 14px;
      font-weight: 500;
      color: $text-black;
      border-radius: 9px;
    }

    &.new {
      background-color: #DDF9FF;
      font-size: 14px;
      font-weight: 500;
      color: $text-black;
      border-radius: 9px;
    }

    &.promoted {
      background-color: #D93A3A;
      color: $text-white;
      font-size: 12px;
      font-weight: 700;
      border-radius: 8px;
    }
  }

  .discount-badge {
    background: linear-gradient(90deg, $text-primary 0%, rgba(55, 48, 120, 0) 100%);
    color: $text-white;
    font-size: 16px;

  }

  .rating {
    background: #FFD251;
    color: $text-black;
    font-size: 14px;
  }

  .distance {
    font-size: 12px;
    color: $text-primary;
  }

  .price-per-guest {
    background-color: #F5F4FF;
    color: $primary;
    padding: 4px 6px;
    border-radius: 8px;
  }

  .venue-name {
    color: $text-black;
    font-size: 16px;
  }

  .location {
    font-size: 10px;
  }

  .capacity {
    border: 1px solid;
    border-color: $text-primary;
    border-radius: 8px;
    font-size: 14px;
    color: $text-black;
  }

  .cuisine {
    font-size: 14px;
  }

  .custom-dot-list-style {
    justify-content: end;
    margin-bottom: 15px;
  }

  .react-multi-carousel-dot--active {
    button {
      background-color: $white !important;
      border: none;
      height: 8px !important;
      width: 8px !important;
    }
  }

  .react-multi-carousel-dot {
    button {
      height: 8px !important;
      width: 8px !important;
      border: none;
      background: rgba(255, 255, 255, 0.4);
    }
  }
}


@media (max-width: 576px) {
  .venue-card{
    .capacity{
      font-size: 10px;
    }
  }
}