.badge-tag{
    font-size: 14px;
    background-color: #FDE49F;
    border-radius: 10px;
}

.discount-badge{
    font-size: 16px;
    background: linear-gradient(90deg, #6658DE 0%, rgba(55, 48, 120, 0) 100%);
}

.list-content{
    background-color: #F3F2FF;
    border: 1px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
    padding: 4px 6px;
}

.package-includes{
    font-size: 12px;
}

.blur-login{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid #F1F1F1; 
  z-index: 1;
  border-radius: 20px;
}