.badge-tag{
    font-size: 14px;
    background-color: #FDE49F;
}

.discount-badge{
    background: linear-gradient(90deg, #6658DE 0%, rgba(55, 48, 120, 0) 100%);
}

.list-content{
    background-color: #F3F2FF;
    border: 1px solid;
    border-color: #E9E9E9;
    border-radius: 8px;
    padding: 4px 6px;
}