@use "../../assets//scss/variables" as *;

.food-card-subtitle{
    color: #4D4D4D;
}

.food-card{
    border-radius: 20px;
    border-top: 15px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;
}

.food-card-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../assets/images/check.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
  }

  &:checked::before {
    opacity: 1;
  }
}

.food-list-scroll {
  height: 250px !important; 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; // for Firefox
  padding-right: 4px;
}

.food-list-scroll::-webkit-scrollbar {
  width: 6px;
}

.food-list-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .food-card-checkbox{
    width: 43px !important;
    height: 30px !important;
    }
}