.venue-sentence {
    font-size: 24px;
    font-weight: 700;
}
.venue-sub-sentence {
    font-size: 16px;
    font-weight: 500;
}
.venue-cross-btn {
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #F3F2FF;
}
.venue-card-border {
    border-left: 1px solid #D9D9D9;
}
.venue-filter-heading {
    font-weight: 700;
    font-size: 16px;
}
.venue-filter-items {
    font-weight: 400;
    font-size: 14px !important;
    color: #838383 !important;
}
.venue-filter-sub-heading {
    font-weight: 400;
    font-size: 14px !important;
}

