.title {
    font-size: 24px;
    font-weight: 700;
}
.sub-title {
    font-size: 16px;
    font-weight: 500;
}
.buttons {
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #F3F2FF;
}
.card-border {
    border-left: 1px solid #D9D9D9;
}
.heading {
    font-weight: 700;
    font-size: 16px;
}
.items {
    font-weight: 400;
    font-size: 14px !important;
    color: #838383 !important;
}
.sub-heading1 {
    font-weight: 400;
    font-size: 14px !important;
}

