/* style.scss */
.select-div{
  text-align: start;
}
/* Control container (input box) */
.custom__control {
  border: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

/* Text inside the selected value */
.custom__single-value {
  color: black !important;
}

/* Options in dropdown */
.custom__option {
  color: black !important;
}

/* Dropdown indicator icon (arrow) */
.custom__indicator {
  color: #6658DE !important;
}

/* Remove border on hover */
.custom__control:hover {
  border: none !important;
  box-shadow: none !important;
}

/* Remove separator line between indicator and value */
.custom__indicator-separator {
  display: none !important;
}

/* Placeholder text style */
.custom__placeholder {
  color: black !important;   // Change to your desired color
  font-weight: 500;         // Example: make it semi-bold
  font-size: 18px;          // Example: change font size
}
