.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    position: fixed  !important;
    top: 0;
    background-color: white;
    padding: 10px 20px;
    z-index: 1000;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #EDEDED ;
    padding: 5px;
}

.header-select{
    border-right: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
    justify-content: center;
}