@use "../../assets/scss/variables" as *;
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed  !important;
    top: 0;
    background-color: $white;
    z-index: 1000;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;
}
.header-border{
   border-bottom: 1px solid #EDEDED ;
}
.header-select{
    border-right: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hambarger{
    display: none;
}
.header-margin-bottom{
  margin-bottom: 80px;
}
.header-highest{
  z-index: 5000;
}

/*responsive*/

@media screen and (max-width: 992px) {
  .header-select {
    display: none;
  }
  .login{
    display: none;
  }
  .hambarger{
    display: inline;
  }
}